<div class="container-fluid padding-0">
    <app-header isHomeVisible=true></app-header>
    <div class="app-page">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">ACME UI + CyberArk Identity Sign Up/Sign In Widget</h2>
                        <ul class="container">
                            <li>This demo web app simulates a Acme.com securing their end user facing website using
                                CyberArk Sign Up/Sign In widget</li>
                            <li>Admin needs to map the role in CyberArk Admin portal for newly registereed user</li>
                            <li>ACME authenticates the identity of end users using CyberArk Identity</li>
                            <li>Profile update powered by CyberArk APIs</li>
                            <li>The backend is driven by Java spring, while Angular is used for the front-end of the
                                application.</li>
                        </ul>
                        <div class="diagram"></div>
                        <p>The following APIs are used in this web application</p>           
                        <h5><b>Profile Update</b></h5>
                        <p>
                            <b>/user/UpdateProfile</b> - Update current user information.
                        </p>
                        <h5><b>Logout</b></h5>
                        <p>
                            <a target="_blank"
                                href="https://identity-developer.cyberark.com/reference#post_security-logout">/Security/Logout</a>
                            - Logout current user.
                        </p>
                    </div>
                    <div class="d-flex p-3">
                        <div class="container btn btn-secondary p-3 mr-5" (click)="onSignUpClick()">Sign Up</div>
                        <div class="container btn btn-secondary p-3" (click)="onLoginClick()">Sign In</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>