**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/node_modules
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
.idea/
*.iml
*.iws
**/target/
