<header class="apidemo-header" [style.border-color]="accentColor" [style.background-color]="ribbonColor">
  <nav class="navbar navbar-expand-md navbar-light">
    <a href="/" class="navbar-brand"><img [attr.src]="imageSource" alt="JC Logo"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsList"
      aria-controls="navbarsList" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleHomeMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsList" [class.show]="this.homeMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isHomeVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/')" href="/" (click)="onTabClick('/')">
            Home
          </a>
        </li>
        <li class="nav-item" *ngIf="isSignUpVisible">
          <a class="text-white" [class.btn]="this.notRegister()" [class.btn-sm]="this.notRegister()"
            [class.register-btn]="this.notRegister()" [class.nav-link]="this.checkSelectedTab('/register')"
            [class.active]="this.checkSelectedTab('/register')" href="register" role="button" (click)="onTabClick('register')">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="isLoginVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/login')" href="login"
            (click)="onTabClick('login')">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="checkFlow2UserPage()">
        <li class="nav-item">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/fundtransfer')" href="fundtransfer"
            (click)="onTabClick('fundtransfer')">Fund Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/user')" href="user"
            (click)="onTabClick('user')">User Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</header>