<div class="container-fluid padding-0">
  <div *ngIf="loading" class="loader-screen">
    <img class="loader" src="../../assets/images/Spinner.svg">
  </div>
  <app-header isHomeVisible=true isSignUpVisible="true"></app-header>
  <div class="app-page">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center font-weight-light mb-3">Login</h3>
          <form [formGroup]="loginForm" autocomplete="off">
            <div *ngIf="authMessage != ''" class="login-error">
              <div><img class="error-image"
                  [src]="checkMessageType() ? '../../assets/images/check.png' : '../../assets/images/issue_icon.png'" />
              </div>
              <p class="breaktext_now" style="order:2;" [style.color]="checkMessageType() ? '#000' : '#cc3300'">
                {{authMessage}}</p>
            </div>
            <div class="form-group d-flex align-items-center">
              <label class="required label">Username</label>
              <input class="form-control" formControlName="username" required>
              <span *ngIf="hasError('username', 'required')">Required</span>
              <span *ngIf="hasError('username', 'email')">Username pattern does not match</span>
            </div>
            <div class="form-group d-flex align-items-center">
              <label class="required label">Password</label>
              <input class="form-control" formControlName="password" type="password" required>
              <span *ngIf="hasError('password', 'required')">Required</span>
            </div>
            <button class="container btn btn-secondary"
              data-target="#userConsent" type="submit" (click)="loginUser(loginForm.value)">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>