<div class="container-fluid padding-0" (click)="onClick($event)">
  <div *ngIf="loading" class="loader-screen">
    <img class="loader" src="../../assets/images/Spinner.svg">
  </div>
  <app-header *ngIf="update" isLogoutVisible=true isTOTPVisible=true isUserProfileVisible=true></app-header>
  <app-header *ngIf="!update" isLoginVisible=true isHomeVisible=true></app-header>
  <div #divToScroll class="app-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end" 
              [style]="leftContainerStyle">
              <div class="text w-100" *ngIf="!update">
                <h2 class="mb-4">Welcome to Acme!</h2>
              </div>
            </div>
            <div class="login-wrap p-4 p-md-5">
              <div class="mb-3" *ngIf="!update">
                <h3 class="text-center">Sign up</h3>
              </div>
              <h3 class="mb-3 text-center" *ngIf="update">User Profile</h3>
              <form [formGroup]="registerForm" autocomplete="off" class="signup-form">
                <div class="row">
                  <div *ngIf="errorMessage != ''" class="user-error">
                    <div class="error-image"><img
                        [src]="checkMessageType() ? '../../assets/images/green_check.png' : '../../assets/images/issue_icon.png'" />
                    </div>
                    <p [style.color]="checkMessageType() ? '#000' : '#cc3300'">{{errorMessage}}</p>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                      <label class="label required">Username</label>
                      <input class="form-control" formControlName="Name" required>
                      <div class="label"></div>
                      <span style="display:block;" *ngIf="hasError('Name', 'required')">Required</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                      <label class="label required">Email Address</label>
                      <input class="form-control" formControlName="Mail" type="email" required>
                      <span *ngIf="hasError('Mail', 'required')">Required</span>
                      <span *ngIf="hasError('Mail', 'email')">Must be valid email. EXAMPLE@YOURDOMAIN.COM</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                      <label class="label required">Display Name</label>
                      <input class="form-control" formControlName="DisplayName" required>
                      <span *ngIf="hasError('DisplayName', 'required')">Required</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div *ngIf="!update" class="form-group d-flex align-items-center">
                      <label class="label required">Password</label>
                      <input class="form-control" formControlName="Password" type="password" (blur)="matchPasswords()" required>
                      <span *ngIf="hasError('Password', 'required')">Required</span>
                      <span *ngIf="hasError('Password', 'pattern')">
                        Password must be at least 8 character long with a combination of at least 1 uppercase, 1 lowercase and 1 number
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div *ngIf="!update" class="form-group d-flex align-items-center">
                      <label class="label required">Confirm Password</label>
                      <input class="form-control" formControlName="ConfirmPassword" type="password" (blur)="matchPasswords()"
                        required>
                      <span *ngIf="hasError('ConfirmPassword', 'required')">Required</span>
                      <span *ngIf="!matchPasswordsCheck">Confirm Password must match with the Password</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                      <label class="label">Mobile Number</label>
                      <input class="form-control" formControlName="MobileNumber" name="mobileNumber">
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="d-flex">
                      <button class="container btn btn-secondary submit "
                        data-target="#userConsent" type="submit"
                        (click)="validateRegisterForm(registerForm.value)">{{submitButtonText}}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <app-footer></app-footer>
</div>