<div class="container-fluid padding-0">
  <div *ngIf="loading" class="loader-screen">
    <img class="loader" src="../../assets/images/Spinner.svg">
  </div>
  <app-header isLogoutVisible=true></app-header>
  <div class="app-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="accordion w-50" id="accordionExample">
          <div class="card">
            <h3 class="text-center font-weight-light m-3">{{heading}}</h3>
          </div>
          <div class="card" *ngIf="!(hideAccordian || hideTokensAccordian)">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Token Set (/Token Endpoint)
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-sm">
                  <tbody>
                    <tr *ngFor="let key of dataKeys(tokenSet)">
                      <th class="col-sm-3" scope="row">{{key}}</th>
                      <td  #userinput>
                        <div class="text-break text-truncate myDIV col-sm-10 horizontalDiv">{{tokenSet[key]}}</div>
                        <div class="hide col-sm-2 horizontalDiv">
                          <i class="fa fa-clone btn btn-link" title="copy" (click)="copyToClipboard(userinput.textContent)"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="!hideAccordian">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  Claims (Base64 Decoded id_token)
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" [ngClass]="{'show': hideTokensAccordian}"
              aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-sm">
                  <tbody>
                    <tr *ngFor="let key of dataKeys(claims)">
                      <th class="col-sm-3" scope="row">{{key}}</th>
                      <td  #userinput>
                        <div class="text-break text-truncate myDIV col-sm-10 horizontalDiv">{{claims[key]}}</div>
                        <div class="hide col-sm-2 horizontalDiv">
                          <i class="fa fa-clone btn btn-link"  title="copy" (click)="copyToClipboard(userinput.textContent)"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="!hideAccordian && !isOauthFlow">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="true" aria-controls="collapseThree">
                  User Info (/UserInfo Endpoint)
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-sm">
                  <tbody>
                    <tr *ngFor="let key of dataKeys(userInfo)">
                      <th class="col-sm-3" scope="row">{{key}}</th>
                      <td  #userinput>
                        <div class="text-break text-truncate myDIV col-sm-10 horizontalDiv">{{userInfo[key]}}</div>
                        <div class="hide col-sm-2 horizontalDiv">
                          <i class="fa fa-clone btn btn-link"  title="copy" (click)="copyToClipboard(userinput.textContent)"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="d-flex bg-white p-3">
            <button class="container btn btn-outline-secondary align-self-center" (click)="onTryAnotherFlow()">Try
              Another
              Flow</button>
            <button *ngIf="showAccessTokenBtn()" class="container btn btn-secondary align-self-center ml-5" (click)="onIssueNewAccessToken()">Issue New Access
              Token</button>
          </div>
        </div>
      </div>
      <app-error [btnClick]="onOk" [body]="errorMessage"></app-error>
      <div class="modal fade" id="refreshTokenPopup" tabindex="-1" role="dialog" aria-labelledby="refreshTokenTitle"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="refreshTokenTitle">Refresh Token</h5>
            </div>
            <div class="modal-body">
              <form [formGroup]="refreshTokenForm" autocomplete="off">
                <div class="form-group d-flex align-items-center">
                  <label class="required label">Password</label>
                  <input class="form-control" formControlName="password" type="password" required>
                  <span *ngIf="hasError('password', 'required')">Required</span>
                </div>
                <button type="submit" class="container btn btn-secondary" (click)="onShowPreview()">Preview</button>
              </form>
              <h5 class="font-weight-light mt-3">API Endpoint Request</h5>
              <div class="border p-3 text-break preline">
                {{refreshTokenPostCall}}
                <div class="mt-3"></div>
                {{refreshTokenPostCallBody}}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="container btn btn-outline-secondary mr-5" data-dismiss="modal">Cancel</button>
              <button #proceedBtn type="button" class="container btn btn-secondary" (click)="onProceed()" data-dismiss="modal" disabled>Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>