<div class="container-fluid padding-0">
  <app-header></app-header>
  <head>
    <!-- <style type="text/css">
        .cyberark-login .logo-container {
            background-color: #F7F7F7;
        }
        .cyberark-login .login-form,
        .cyberark-login .form-container {
            background-color: #363A40;
        }
        .cyberark-login button,
        .cyberark-login button.disabled  {
            background-color: #0280e5;
        }
    </style> -->
</head> 

  <div id="cyberark-login" class="app-page">
</div>
  <app-footer></app-footer>
</div>
