<div class="container-fluid padding-0">
    <div *ngIf="loading" class="loader-screen">
      <img class="loader" src="../../assets/images/Spinner.svg">
    </div>
    <app-header></app-header>
    <div class="app-page">
      <div class="container">
          <div class="row justify-content-center">
            <div class="accordion w-50" id="accordionExample">
              <div class="card">
                <h3 class="text-center font-weight-light m-3">OIDC Metadata</h3>
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Token Set (/Token Endpoint)
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-sm">
                      <tbody>
                        <tr *ngFor = "let key of dataKeys(tokenSet)">
                          <th scope="row">{{key}}</th>
                          <td class="text-break">{{tokenSet[key]}}</td>
                        </tr>
                      </tbody>
                    </table>                 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Claims (Base64 Decoded id_token)
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-sm">
                      <tbody>
                        <tr *ngFor = "let key of dataKeys(claims)">
                          <th scope="row"> {{key}}</th>
                          <td class="text-break">{{claims[key]}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      User Info (/UserInfo Endpoint)
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-sm">
                      <tbody>
                        <tr *ngFor = "let key of dataKeys(userInfo)">
                          <th scope="row"> {{key}}</th>
                          <td class="text-break">{{userInfo[key]}}</td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <div class="card p-3">
                <button class="container btn btn-secondary p-3 w-50 align-self-center" (click)="onNext()">Next</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <app-footer></app-footer>
</div>