<div class="container-fluid padding-0">
    <app-header></app-header>
    <div class="col" style="margin-top: 85px">
        <div class="d-flex justify-content-center">
            <h1>Login with APIs & OIDC</h1>
        </div>
        <div class="row">
            <div class="col border-right">
                <h3>OIDC details</h3>
                <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th scope="row">access_token</th>
                        <td>Labore officia mollit pariatur culpa ipsum enim labore velit laboris. Consectetur nostrud est minim id nulla commodo cupidatat culpa aliquip. Dolor officia sint duis minim amet do pariatur nisi sint. Dolor non aute ullamco magna aliquip amet consequat duis.
Lorem reprehenderit proident excepteur ipsum aliquip consequat. Magna aliqua labore proident eiusmod. Culpa esse magna deserunt sit laborum. Dolor tempor cupidatat veniam quis consectetur anim ullamco eu.</td>
                      </tr>
                      <tr>
                        <th scope="row">token_type</th>
                        <td>Bearer</td>
                      </tr>
                      <tr>
                        <th scope="row">expires_at</th>
                        <td>1234567890</td>
                      </tr>
                      <tr>
                        <th scope="row">scope</th>
                        <td>openid email</td>
                      </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary btn-sm" (click)="onNext()">Next</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <app-footer></app-footer>
</div>