<div class="container-fluid">
  <div class="app-page">
    <div class="container">
      <div class="text-white text-center">
        <h1 class="text-white ">CyberArk Identity Demo Applications</h1>
        <h5 class="text-white ">ACME is a sample company which uses CyberArk Identity APIs, SDKs and widgets to secure its web applications.</h5>
      </div>
      <div class="home-main-content">        
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ACME UI + APIs</h5>
              <ul class="card-text">
                <li>Simulation of a customer hosted web application</li>
                <li>Java spring backend, Angular front end web application</li>
                <li>CyberArk Identity stores the identity of end users signing up to ACME</li>
                <li>Sign up, Login, Profile update, and MFA powered by CyberArk Identity APIs</li>
              </ul>
            </div>
            <div class="w-50 align-self-center p-3">
              <div class="container btn btn-secondary p-3" (click)="onFlow1Start()">Start</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ACME UI + MFA Widget</h5>
              <ul class="card-text">
                <li>This demo web app simulates a Acme.com securing their end user facing website using CyberArk MFA</li>
                <li>Acme handles the login and Cyberark manages the multi-factor authentication mechanism</li>
                <li>This also mimics a real world in-app step up authentication e.g Fund transfer</li>
                <li>The backend is driven by Java spring, while Angular JS is used for the front-end of the application.</li>
              </ul>
            </div>
            <div class="w-50 align-self-center p-3">
              <div class="container btn btn-secondary p-3" (click)="onFlow2Start()">Start</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>