<div class="container-fluid">
  <app-header isSettingsVisible=true></app-header>
  <div class="app-page">
    <div class="container">
      <div class="text-white text-center">
        <h1 class="text-white ">CyberArk Identity Demo Web App (Java)</h1>
        <h5 class="text-white ">Acme Inc. is an imaginary company using CyberArk Identity APIs, SDKs, and widgets to secure its web applications. This playground application shows all the possible variations that a developer from Acme has at her disposal for this. This app uses Java Spring backend and Angular frontend.</h5>
        <br>
        <h5 class="text-white">
          For developer guides and API documentation, please visit 
          <a href="https://identity-developer.cyberark.com/" target="_blank" style="color: #8ab4f8;">
            CyberArk Identity Developer Program
          </a>
          website.
        </h5>
      </div>
      <div class="home-main-content">        
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Scenario 1: Acme wants to use its own UI with CyberArk Identity APIs</h5>
              <ul class="card-text">
                <li>User identities stored in CyberArk Identity</li>
                <li>Authentication UI built within the Acme demo app</li>
                <li>Authentication UI uses CyberArk Identity APIs</li>
                <li>
                  Use cases:
                  <ul>
                    <li>Sign-up using Acme UI</li>
                    <li>Authentication (with MFA)</li>
                    <li>User profile updates to CyberArk Identity using APIs</li>
                  </ul>
                </li>
                <li>
                  Protocol flows demonstrated:
                  <ul>
                    <li>OAuth (Authorization code, Authorization code with PKCE, Implicit, Client credentials, Resource owner password grant)</li>
                    <li>OIDC (Authorization code, Authorization code with PKCE, Implicit, Hybrid)</li>
                    <li>Non-standard (just APIs)</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="w-50 align-self-center p-3">
              <div class="container btn btn-secondary p-3" (click)="onFlow1Start()">Start</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Scenario 2: Acme wants to use CyberArk Identity Sign Up/Sign In Widget</h5>
              <ul class="card-text">
                <li>Using CyberArk Identity Sign Up/Sign In Widget</li>
                <li>User registers an account with CyberArk Identity server</li>
                <ul>
                  <li>Admin needs to map the role in CyberArk Admin portal for newly registereed user</li>
                </ul>
                <li>User authenticates to CyberArk Identity server</li>
                 <li>
                  Use cases:
                  <ul>
                    <li>Authentication (with MFA) based on the configured policies</li>
                    <li>User profile update using CyberArk Identity APIs</li>
                    <li>Step-up Login Widget for funds transfer</li>
                  </ul>
                </li>
                <li>
                  Protocols used:
                  <ul>
                    <li>OAuth (Authorization code + PKCE) - OIDC access token is not useful in current scenario</li>
                    <li>For other flow, please refer to "Scenario1"</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="w-50 align-self-center p-3">
              <div class="container btn btn-secondary p-3" (click)="onFlow2Start()">Start</div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="card-deck mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Scenario 3: Acme wants to use CyberArk Identity only for MFA (2FA)</h5>
                  <ul class="card-text">
                    <li>User identities stored in Acme demo app</li>
                    <li>Password entry UI built within the Acme demo app</li>
                    <li>MFA (2FA) uses CyberArk Identity MFA widget</li>
                    <li>
                      Use cases:
                      <ul>
                        <li>Sign-up using Acme UI</li>
                        <li>Authentication (with MFA)</li>
                        <li>User profile update to Acme database</li>
                        <li>Implicit user profile update to CyberArk Identity using APIs</li>
                        <li>Step-up MFA for funds transfer</li>
                      </ul>
                    </li>
                  <li>
                  Protocols used:
                  <ul>
                    <li>OAuth (Authorization code + PKCE) - OIDC access token is not useful in current scenario</li>
                    <li>For other flow, please refer to "Scenario1"</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="w-50 align-self-center p-3">
                <div class="container btn btn-secondary p-3" (click)="onFlow3Start()">Start</div>
              </div>
            </div> 
          </div>
        </div>  
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>