.flow1-page {
    margin-bottom: 30px !important;
    margin-top: 85px !important;
    max-height: calc(100vh - 105px) !important;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.flow1-title {
    color: #363a40;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 30px;
    width: 100%;
    margin-top: 26px;
}