<div class="container-fluid padding-0">
    <app-header isHomeVisible=true></app-header>
    <div class="d-flex flex-column w-50 mx-auto justify-content-around" style="margin-top: 85px;height: 45vh;">
        <h1 class="row justify-content-center">Flow 1 - Start Page</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    content.</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <button type="button" class="btn btn-primary btn-sm" (click)="onSignUpClick()">Sign Up</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="onLoginClick()">Login</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>